.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
   
}
.service{
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    padding: 0 30px;
}
.service-box h3{
    font-size: 22px;
    font-weight: 600;
}
.service-box h2{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(270deg, #DF8908 50%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 8px 0;
}
.service-box p{
    color: #d4d4d4;
    font-size: 14px;
    
}
.services-title{
    position: relative;
    margin-bottom: 80px;
    
}
.services-title img{
    position: absolute;
    top: -25px;
    left: -48px;
    z-index: -1;
    height: 140px;
}
.services-title h1{
    font-size: 40px;
    font-weight: 600;
    
    
}
.services-container{
    gap: 20px;
    padding: 39px 28px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
   
}
.services-container:hover{
    background-color: #3a0553;
    transform: translateY(-10px);
}
.services-readmore{
    display: flex;
    gap: 18px;
    align-items: center;
    margin-top: 20px;
    transition: 0.4s;
}
.services-readmore p:hover{
    transition: 0.4s;
    color: #e88649;
}
.services-readmore i{
    width: 20px;
}
.services-readmore i:hover{
    transition: 0.4s;
    color: #e88649;
    
}
@media(max-width:992px){
    .service-box{
        grid-template-columns: 1fr 1fr;
    }
}