.navbar{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 10px 30px;
}
.navbar h1{
    color: #bf62d6;
    font-size: 40px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 45px;
   
}
.nav-menu li a{
    font-size:15px ;
    color: white;
    text-decoration: none;
}
.nav-menu li a:hover{
    color: #bf62d6;
    transition: 0.3s;
}
.nav-connect {
    padding: 10px 15px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
     font-size: 14px;
    font-weight: 550; 
    color: white;
    transition: 0.5s;
    border: none;
    text-decoration: none;
    text-align: center;
}

.nav-connect:hover{
    transform: scale(1.09);
}
.nav-close{
    display: none;
}
.nav-open{
    display: none;
}
@media(max-width:992px){
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-open{
        display: block;
        right: 30px;
        font-size: 30px;
        position: absolute;

    }
    .nav-close{
        display: block;
        position: relative;
        top: 30px;
        left: 250px;
        width: 30px;
        font-size: 25px;
    }
    .nav-menu{
        position: absolute;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 25px;
        background-color: #1F0016;
        width: 300px;
        height: 150%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}